* {
  box-sizing: border-box;
  font-style: normal;
}

body{
  font-family: 'Space Mono', cursive;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  height: 30px;
  top: 0px;
  line-height: 30px;
}

h2 {
  margin-left: 10px;
}

h2 a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

header > a {
  position: absolute;
  color: brown;
  top: 0px;
  right: 20px;
}

.intro1 {
  margin-top: 30px;
  height: 1080px;
  width: 100%;
  background-image: url("images/header.jpg");
  background-color: rbga(0,0,0,1);
  background-size: contain;
  background-repeat: no-repeat;
  color:black;
  padding-left: 10px;
  
}

h1 {
  font-size: 2em;
  padding: 10px;
  text-align: left;

}

p {
  padding: 10px;
  width: 40%;
  text-align: left;
  color: white;
  font-size: 18px;
}

.hide {
  display: none;
}

form {
  margin: 60px auto;
  text-align: center;
}

legend {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

form button {
  display: block;
  margin: 10px auto;
}

form div {
  display: inline;
  
}

.container {
  border: 1px solid brown;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.container p {
  width: 100%;
  color: blue;
  padding: 0px 5px;
}

.marsImg {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  padding: 5px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;.
  }
}

/*header and content margin fixes for mobile*/
@media only screen and (max-width: 500px) {
  header > a {
    position: static;
  }
  
  header {
    text-align: center;
    height: 60px;
  }
  
  .intro1 {
    margin-top:60px;
  }
  
  form {
    margin-top: 80px;
  }
  
  
}

@media only screen and (max-width: 680px) {
  form div {
    display: block;
  }
}


